* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
}

h1 {
  text-align: center;
  color: rgb(211, 46, 107);
}

p {
  text-align: center;
}

h1, p {
  margin-top: 50px;
}

.container {
  width: 70%;
  margin: auto;
}

.row {
  margin-bottom: 75px;
  margin-top: 75px;
}

.clearfix::after {
  content:'';
  display: table;
  clear:both;
}

.row .col {
  width: calc(100% / 3);
  height: 150px;
  float: left;
}

.row .col .container-f {
  background-color:black;
  width: auto;
  height: 100%;
  color: white;
}

.row .col:not(:first-child, :last-child) .container-f {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.row .col:first-child .container-f {
  margin-right: 5%;
}

.row .col:last-child .container-f {
  margin-left: 5%;
}