* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
}

h1 {
  text-align: center;
  color: rgb(211, 46, 107);
}

p {
  text-align: center;
}

a {
  color: aqua;
  text-decoration: none;
  font-style: normal;
}

h1, p {
  margin-top: 50px;
}

.container {
  width: 70%;
  margin: auto;
}

.row {
  margin-bottom: 50px;
  margin-top: 50px;
}

.clearfix::after {
  content:'';
  display: table;
  clear:both;
}

.row .col {
  width: calc(100% / 3);
  height: 75px;
  float: left;
}

.row .col .container-f {
  background-color:black;
  width: auto;
  height: 75px;
  color: white;
  box-shadow: 5px 5px 5px #dedede;
}
  .row .col:not(:first-child, :last-child) .container-f {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.row .col:first-child .container-f {
  margin-right: 5%;
}

.row .col:last-child .container-f {
  margin-left: 5%;
}

.row .col .container-f .textbox{
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 0.7em;
  width: auto;
  position:absolute;
}

.row .col .container-f img{
  width: auto;
  height: 75px;
}

.row .col .container-f .textbox h2{
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 1.2em;
}

.row .col .container-f .textbox address{
  margin-top: 5px;
  font-size: 1.1em
}